@media (max-width: 991px) {
  #home {
    flex-direction: column;
  }
}

#home {
  min-height: 100vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}

body {
  background-color: 	#F0F8FF !important; 
}

div .btn {
  background-color: #000035;
  color: var(--bs-white);
}

div .btn:hover {
  color: var(--bs-white);
  background-color:#0D6EFD
}